<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>
    </head>
    <body>
        <!-- Navigation -->
        <header>
            <a href='#'>PHP Learning</a>
            <nav>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Store</a>
                    </li>
                    <li>
                        <a href="#">Register</a>
                    </li>
                    <li>
                        <a href="#">Login</a>
                    </li>
                </ul>
            </nav>
        </header>

        <hr>

        <!-- Main -->
        <main>
            <h1>PHP Learning!</h1>
            <p>My own little application to practice the fundamentals of PHP.</p>
        </main>
        <hr>
        <!-- Featured Post -->
        <section>    
            <h2>Featured Post</h2>
            <h3>Post title</h3>
            <p>lorem ipsum dolorm</p>
            <a href="#">Read more</a>
        </section>

        <hr>

        <!-- Recent Posts -->
        <section>
            <h3>Recent Posts</h3>
            <ul>
                <li>
                    <a href="#">Post title</a>
                </li>
                <li>
                    <a href="#">Post title</a>
                </li>
                <li>
                    <a href="#">Post title</a>
                </li>
            </ul>
        </section>

        <hr>

        <!-- Footer -->
        <footer>
            <h4>PHP Learning</h4>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Store</a>
                </li>
                <li>
                    <a href="#">Register</a>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
            </ul>
            <p>Made by <a href="brendenevans.com">Brenden Evans</a></p>
        </footer>
    </body>
</html>